.funnyheader h1 {
	font-family:'Josefin Sans', sans-serif;
	color: #595959;
	padding-top: 50px
	
	
 }

.square {
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: #74ccc7;
	text-align: center;
	line-height: 100px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 54px;
	transform: none;
	transition: transform .5s;
}
.square-container {
	perspective: 50px;
	display: inline-block;
	color: #595959;
}

.square1:hover {
	transform: skewX(45deg);
	transition: transform .5s;
}

.square2:hover {
	transform: rotate(45deg);
	transition: transform .5s;
}

.square3:hover {
	transform: scale(.8,.5);
	transition: transform .5s;
}

.square4:hover {
	transform: rotateY(745deg) rotateX(45deg);
	transition: transform .5s;
}

.square5:hover {
	-webkit-transform: rotateX(45deg);
	transform: rotateX(45deg);
	transition: transform .5s;
}
.square6:hover {
	transform: translate3d(20px, 50px, 100px);
}




