@import 'todo';
@import 'maven';
@import 'funnySquares';
@import 'navbar';


/*h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: #595959;
}*/


#modern {
  position: fixed;
  display: inline; 
  top: 800px; 
  left: 0; 
  width: 800px; 
  height: 800px;
}

.modern-image {
  position: fixed;
  margin: auto; 
  width: 100px;
  height: auto;
  overflow: hidden;
}

