@import 'todo';
@import 'project';
@import 'funnySquares';

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: #595959;
}

body {
  background: url('modern-office.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav {
  position: fixed;
  top: 0;
  width: 200%;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #595959;
  border: 2px soild #2C2F30;
  opacity: 0.6;
}

a {
  display: inline;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  color: #74ccc7;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav:hover {
  background-color: #2C2F30;
}

#modern {
  position: fixed;
  display: inline; 
  top: 0; 
  left: 0; 
  width: 1100px; 
  height: 800px;
}

#modern img {
  position: fixed;
  margin: auto; 
  width: 200%;
  height: auto;
  overflow: hidden;
}

