@import 'todo';
@import 'maven';
@import 'funnySquares';
@import 'backboneForms';
@import 'navbar';
@import 'photoSearches';
@import 'services';
@import 'contact';

@media only screen and (max-width: 992px) {
  .main-sidebar-fixed {
    width: 28%; }
  .main-content {
    width: 72%;
    margin-left: 28%; 
}
}

body {
  height: 100%;
  overflow: scroll;
  padding-right: 44px;
  line-height: 24px;
}

    /* Top-Borders */

.top-border, .right-border, .bottom-border, .left-border {
  position: fixed;
  background-color: #fafafa;
  padding: 10px; }

.top-border, .right-border, .bottom-border, .left-border {
  z-index: 1044; }

.right-border {
  z-index: 1042; }

.top-border {
  top: 0;
  left: 0;
  right: 0; }

.right-border {
  top: 0;
  right: 0;
  bottom: 0; }

.bottom-border {
  bottom: 0;
  left: 0;
  right: 0; }

.left-border {
  left: 0;
  top: 0;
  bottom: 0;
}

.main-content {
  width: 1422px;
  margin-left: 20%;
  padding: 20px 20px 20px 0;
  overflow-x: hidden;
  height: 826px;
  top: 147px;
}

    /* isotope */

.js .is-isotope {
  display: none; 
}

.is-isotope {
  padding: 0;
  margin: 0;
  max-width: none;
  overflow: hidden; 
}
  .is-isotope > * {
    list-style: none;
    margin: 0;
    padding: 0; 
}
  .is-isotope .bg-image {
    width: 101%;
    width: calc(100% + 2px); 
}
  .is-isotope img {
    display: block;
    width: 100.4%;
    width: calc(100% + 1px);
    max-width: none; 
}

      /* PageBlocks */

#post-874 {
  width: 1311px;
}
ul.PageBlocks.is-isotope.list-unstyled {
  width: 1311px;
  display: block;
  position: relative;
  height: 776px;
  top: 5px;
}

.PageBlocks li.isotope-item-fullheight {
  width: 490px;
  position: absolute;
  left: 6px;
  top: 0px;
}
.page-blocks-subitem .is-changeable-item {
  opacity: 1;
}

.PageBlocks li {
  height: calc(50vh - 20px); 
}
  
.PageBlocks li:before {
    -webkit-transition: .65s;
            transition: .65s;
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #fff;
    z-index: 10; 
}

.PageBlocks li {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100.4%;
  width: calc(100% + 1px); 
}

.PageBlocks li.isotope-item-fullheight {
  height: calc(100vh - 40px); }
  @media only screen and (max-width: 1200px) 
{
}

.PageBlocks li.isotope-item-fullheight {
  height: 774px; 

} 

.PageBlocks li.isotope-item-fullheight .bg-image img {
  height: 803px;
}

.PageBlocks li.isotope-item-width-1 {
  width: 816px;
  position: absolute;
  height: 397.5px;
  left: 495px;
  top: 0px;
}
.PageBlocks li.isotope-item-width-2 {
  width: 816px;
  position: absolute;
  left: 495px;
  top: 398px;
  height: 375.5px;

}

.PageBlocks li:hover .bg-image, .PageBlocks li:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 

}

.PageBlocks .bg-image, .PageBlocks img {
  -webkit-transition: .25s;
          transition: .25s; 
          height:455px;
}

.PageBlocks li:hover .overlay-dark {
  opacity: 0; 
}

.PageBlocks .page-block-item-title {
  -webkit-transition: .3s;
          transition: .3s;
  position: absolute;
  top: 60%;
  right: 20px;
  width: 100%;
  width: calc(100% - 40px);
  color: #fff;
  font-size: 14px;
  letter-spacing: 5px;
  font-weight: 900;
  text-align: right;
  pointer-events: none; 
}

.is-changeable .isotope-item-width-2 h5{
  top: 238px;
  
}
    /* Overlay-Dark */
.PageBlocks .overlay-dark {
  -webkit-transition: .2s;
          transition: .2s;
  opacity: 1; 
}

.overlay-dark {
  -webkit-transition: .2s;
          transition: .2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
}

.overlay-dark {
  background-color: rgba(11, 10, 24, 0.46); 
}


.SideNavLogo {
  color: #3b3b3b;
  font-family: 'Poiret One', cursive;
  margin-bottom: 60px;
  text-decoration: none;
}

.SideNavLogo a:focus {
  display: block;
  text-decoration: none;
}


a, a:focus {
  color: #3b3b3b;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.SideNavLogo h1 {
  font-size: 3em;
  color: #3b3b3b;
  text-decoration: inherit!important;
}


h1 {
  display: block;
  margin: 0 0 0.5em;
  text-align: center;
  font-family: 'Poiret One', cursive;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 700;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar .navbar-default {
  text-transform: uppercase;
  font-size: .8em;
  margin-bottom: 20px;
  background-color: #fff;
  margin: 0 0 0.5em;
}

.navbar > ul {
  margin: 0;
  padding: 20px 0 0;
}

.navbar ul {
  list-style: none;
}

.navbar > ul > li {
  position: relative;
  background-color: #fff;
}

.navbar > ul > li > a {
  list-style-type: none;
  background-color: #fff;
  padding: 10px 5px;
  font-family: 'Poiret One', cursive;
  font-size: 12px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: .2em;
  margin: 0 0 100px 0;
  text-align: center;
  transition: .2s;
  text-decoration: none;
  color: #000000;
}

 h1 a {
  color: #000000;
  font-weight: 900;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

a > i {
  margin-left: 8px;
  font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
  color: #a5e5d6;
}

li {
  margin-top: 20px;
  font-family: 'Poiret One', cursive;
  list-style-type: none;
}

.navbarSocial a {
  font-size: 16px;
  display: inline-block;
  margin: 0.5px;
}

.navbarSocial {
  text-align: center;
  margin-bottom: 20px;
  width: 222px;
  padding-left: 42px;
}
.navbarSocial ul {
  overflow: auto;
}

.navbarSocial ul li  {
  list-style-type: none;
  float: left;
}

.navbarSocial ul li a i {
  display: inline-block;
  color: #000000;
  width: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  margin: 0 5px;

}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.navbarFooter {
  line-height: 24px;
  text-align: center;

}