@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Parisienne);


body {
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    
}

.main-content {
    width: 80%;
    margin-left: 20%;
    padding: 20px 20px 20px 0;
    overflow-x: hidden;
}

 .me-text-block-title h1 {
    font-family:'Poiret One', cursive;
    text-align: right;
    display: block;
    margin: 0 0 0.5em;
    line-height: 1.4;
}
.ma-main-row {
    margin-bottom: 100px;
    padding: 40px 0px 0px 0px;
    clear: both;
    box-sizing: border-box;
}

.ma-container {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}
.ma-container:before {
    content: "";
    display: table;
}

@media (min-width: 1200px){
    .ma-container {
        width: 1170px;
}
}

.ma-col-xs-12 {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    min-height: 1px;
}
.image-and-text img {
    width: 419px;
    height: 514px;
    border: 0;
    outline: 1px solid transparent;
}
.image-and-text {
    height: 465.15px;
    position: relative;
}

.image-and-text-image {
   width: 50%;
   float: right;
}

.image-and-text .image-right .image-and-text-image {
    float:right;
}

.image-and-text .image-amd-text-image {
    width: 50%;
}

.image-and-text-text.image-and-text-dark.is-floating {
    transform: translateY(-46.919px);
    background-color: #333;
    color:#f7f7f7;
}

.image-and-text .image-right .image-and-text-text {
    text-align: right;
    right: 42%;
    top: 10%;
}

.image-and-text .image-and-text-text {
    position: absolute;
    width: 50%;
    padding: 40px 50px;
    z-index: 10;
    text-align: right;
    right: 42%;
    top: 10%;
}
.image-and-text .image-and-text-text .metextblock {
    margin-bottom: 0;
}

.image-and-text .image-right .metextblock .me-text-block-title {
    width: 100%;
}

.image-and-text .image-and-text-text .image-and-text-dark .special-text-block-title {
    color: #f7f7f7;
}

.metextblock .me-text-block-title .me-text-block-stripe {
    margin-bottom: 50px;
    font-family: 'Poiret One', cursive;
}

.metextblock .me-text-block-title {
    text-transform: uppercase;
    position: relative;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 50px;
    text-align: right;
    padding-right: 0px;
    font-family:'Poiret One', cursive;
}

.matextblock .ma-text-block-title {
    text-transform: uppercase;
    position: relative;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 50px;
    text-align: center;
    padding-right: 0px;
    font-family:'Poiret One', cursive;
}

.matextblock {
    width: 702px;
    margin-left: 229px;
}

.image-and-text.image-right .metextblock .me-text-block-stripe:after {
    left: 100%;
    transform: translateX(-50px);
}
.metextblock .me-text-block-stripe:after{
    background-color: #a5e5d6;
}

.metextblock .me-text-block-stripe:after{
    content: '';
    position: absolute;
    bottom: -15px;
    left:0;
    height: 1px;
    width: 50px;
    background-color: #a5e5d6;
    left: 47%;
}


.metextblock .me-text-block-subtitle {
    position: relative;
    display: block;
    margin-bottom: 23px;
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.02em;
}
.me-text-block-content {
    font-family:'Poiret One', cursive;
}

.text-monospace {
     font-family:'Poiret One', cursive;
}

p:last-of-type {
    margin-bottom: 0;
}

.ma-main-row .ma-section-light img {
    background-position: 50% 97.92%;
    background-image: url(/images/mod-office.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
    width: 1600px;
    height: 532px;
    padding: 100px 0px 80px 0px;
    position: relative;
}


.ma-section-light {
    color: #f7f7f7;
}

.ma-main-row {
    clear: both;
    margin-bottom: 80px;
    padding: 0px 0px 0px 0px;
}

.image-text-office img {
    vertical-align: middle;
    width: 1619px;
    height: 532px;
    opacity: 0.6;
}


.overlay-screen {
    -webkit-transition: .2s;
    transition: .2s;
    background-color: #1d2729;
    opacity: 0.6;
    position: absolute;
    top:545px;
    left:38px;
    right:0;
    bottom:0;
    width: 1612px;
    height: 532px;
}

.ma-container {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 1200px){ .fw-container {
    width: 1170px;
}
}
.ma-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.ma-container:before {
    content: " ";
    display: table;
}

.ma-col-xs-12 .ma-col-md-6 {
    margin-left: 139px;
}

.ma-col-md-6 {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 992px) {
    .ma-col-md-6 {
        width: 50%;
        left:147px;
        top: -381px;
    }
}

.ma-col-xs-12.ma-col-md-6 {
    position: relative;
    right: 0px;
    left:  63px;
    bottom: 586px;
    top:-386px;
    padding-left: 72px;
    padding-right: 46px;
}

.meheading {
    margin-bottom: 100px;
}

.text-left {
    text-align: left;
}

.ma-stripe {
    position: relative;
    z-index: 1;
}

.me-title {
    text-transform: uppercase;
    font-family:'Poiret One', cursive;
    display: inline-block;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 800;
    text-align: left;
}

.ma-stripe:after {
    left: 0;
    margin-left: 0;
    background-color: #a5e5d6;

}

.ma-stripe:after {
    content: '';
    position: absolute;
    left: 29%;
    bottom: -15px;
    margin-left: -40px;
    width: 80px;
    height: 1px;
    z-index: -1;
}

.meheading .ma-heading .ma-heading-h2 .text-left {
    margin-left: 173px;
}

.ma-subtitle {
    margin-left:7px;
    font-family: 'Parisienne', cursive;
    font-size: 24px;
    width: 398px;
    height: 65px;
}

.ma-section-light {
    color: #f7f7f7;
    font-family:'Poiret One', cursive;
    font-style: normal;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1px;
}

.text-left {
    text-align: left;
}

.progressbar {
    margin-top: 60px;
    margin-bottom: 40px;
    left: 605px;
    position: relative;
    top: -200px;
}

.progress-bar-wrap {
    height: 3px;
    margin-bottom: 50px;
    background-color: #fafafa;
}

.progress-bar {
    width: 90%;
    background-color: rgb(165, 229, 214);
}

.ma-section-light .progress-bar {
    color: #f7f7f7;
}

.text-monospace {
    font-style: normal;
}

.progress-bar {
    min-width: 80px;
    text-align: left;
    transition: width 0.8s cubic-bezier (0.49, 0.01, 0.18, 1) 0s;
    position: relative;
    float: left;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.progress-bar .text-monospace .is-progressbar .is-inview {
    width: 90%;
    background-color: rgb(165, 229, 214);

}

.progress-bar span {
    position: absolute;
    min-width: 150px;
    left: 0;
    bottom: 150%;
    font-size: 14px;
    font-weight: 900;
    line-height: 25px;
    text-transform: uppercase;
}

.progress-bar:after {
    content: attr(data-percentage)"%";
    position: absolute;
    right: -12px;
    bottom: 150%;
    font-size: 12px;
    font-weight: 700;
}

.progress-bar-wrap {
    height: 3px;
    margin-bottom: 50px;
    background-color: #fafafa;
}

.boxicon {
    margin-bottom: 70px;
}

.boxicon .box-icon-horizontal .box-header-icon {
    max-width: 20%;
}

.boxicon .box-icon-horizontal .box-header-wrapper {
    float: left;
    padding-right: 30px;
}

.boxicon .box-icon-horizontal .box-header-wrapper + .box-icon-content {
    width: calc(100%-81px);
}

.ImageWallWrapper {
    position: relative;
    height: 327px;
    left: 85px;
}

.overlay-bg {
    background-color: #f7c842
}

.ImageWallContent.overlay-text {
    width: 55%;
    left: 346px;
    text-align: center;
    padding-left: 70px;
    top: 30px;
}

.overlay-text {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-right: 50px 70px;
  
}

.ImageWallContent .image-wall-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.title-stripe {
    position: relative;
    z-index: 1;
}

.is-isotope {
    padding: 0;
    margin: 0;
    max-width: none;
    overflow: hidden;
}

.is-aspectratio {
    min-height: 200px;
}

.is-isotope > * {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ImageWall .wall-item-inner {
    overflow: hidden;
    position: absolute;
    top:0;
    height: 100%;
    width: calc(100% + 1px);
    display: block;
}

.is-isotope .ma-image {
    width: calc(100% +2px);
    transition: .25s;
}

.ma-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
}










