@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@media (max-width: 1100px){
.navbar-fixed-side{
  margin-left:-15px;
  margin-right:-15px;
}
}
@media only screen and (max-width: 992px) {
  .main-sidebar-fixed {
    width: 28%; 
}
  .main-content {
    width: 72%;
    margin-left: 28%;
  }
}

@media (min-width: 1200px){
.col-lg-2{
  width:100%;
  background-color: #fff;
}
}
@media (min-width: 768px){
.navbar-fixed-side {
  background-color: #fff;
  display: inline-block;
  position:relative;
  margin:0;
  width: inherit;
  border-top-width:0;
  border-bottom-width:0;
  border-radius:0;
  padding-left: 50px;
  padding-right: 50px;
}
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px; 
  } 
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important; }
  .navbar-right {
    float: right !important;
    margin-right: -15px; }
  .navbar-right ~ .navbar-right {
    margin-right: 0; 
  } 
}

@media only screen and (max-width: 768px) {
  .NavBar a .slicknav_menu {
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
}
.main-content{
    width: 100%;
    margin: 0;
    padding: 20px;
    padding-top: 0;
    text-decoration: none;
}


@media only screen and (max-width: 480px){
  .PageBlocks li {
    height: 250px;
  }
}
.main-sidebar {
 background-color: #fff;
 overflow-x: hidden;
}
.js .main-sidebar {
  display: none;
}
.main-sidebar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  z-index: 1000;
}


.ps-container {
  -ms-touch-action:none;
  overflow:hidden !important;
}

.ps-container.ps-active-x > .ps-scrollbar-x-rail,.ps-container.ps-active-y >.ps-scrollbar-y-rail{
  display:block;
  }
.ps-container.ps-in-scrolling{
  pointer-events:none;
}
.ps-container.ps-in-scrolling .ps-x > .ps-scrollbar-x-rail{
  background-color:#eee;
  opacity:0.9;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
  background-color:#999;
}
.ps-container .ps-in-scrolling .ps-y > .ps-scrollbar-y-rail {
  background-color:#eee;
  opacity:0.9;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color:#999;
}
.ps-container > .ps-scrollbar-x-rail {
  display:none;
  position:absolute;
  opacity:0;
  -webkit-transition:background-color 0.2s linear opacity 0.2s linear;
  -moz-transition:background-color 0.2s linear opacity 0.2s linear;
  -o-transition:background-color 0.2s linear opacity 0.2s linear;
  transition:background-color 0.2s 
  linear opacity 0.2s linear;
  bottom:3px;
  height:8px;
}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x{
  position:absolute;
  -webkit-transition:background-color 0.2s linear;
  -moz-transition:background-color 0.2s linear;
  -o-transition:background-color 0.2s linear;
  transition:background-color 0.2s linear;
  bottom:0;
  height:8px;
}
.ps-container > .ps-scrollbar-y-rail{
  display:none;
  position:absolute;
  opacity:0;
  -webkit-transition:background-color 0.2s linear,opacity 0.2s linear;
  -moz-transition:background-color 0.2s linear,opacity 0.2s linear;-o-transition:background-color 0.2s linear,opacity 0.2s linear;
  transition:background-color 0.2s linear,opacity 0.2s linear;
  right:3px;
  width:8px;
}
/*.ps-scollbar-x-rail {
  left: 0;
  bottom: -43px;
}
.ps-scollbar-x {
  left: 0px;
  width: 0px; 
}
.ps-scrollbar-y-rail {
  top: 221px;
  right: 3px;
  height: 852px;
}

.ps-schollbar-y {
  top: 174px;
  height: 670px;
}*/
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y{
  position:absolute;
  -webkit-transition:background-color 0.2s linear;
  -moz-transition:background-color 0.2s linear;
  -o-transition:background-color 0.2s linear;
  transition:background-color 0.2s linear;
  right:0;
  width:8px;
}
.ps-container:hover .ps-in-scrolling{
  pointer-events:none;
}
.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail{
  background-color:#eee;
  opacity:0.9;
}

.ps-container:hover .ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x{
  background-color:#999;
}
.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail{
  background-color:#eee;
  opacity:0.9;
  }
.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y
{
  background-color:#999;
}
.ps-container:hover > .ps-scrollbar-x-rail .ps-container:hover>.ps-scrollbar-y-rail{
  opacity:0.6;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color:#eee;
  opacity:0.9;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x{
  background-color:#999;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color:#eee;
  opacity:0.9;
}

.wrapper {
  padding: 0px 20px 50px 30px;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 100%;
  text-align: center;
  box-sizing: border-box;
  height: 752px;
  padding-right: 30px;
  text-decoration: none;
}
.wrapper .is-slicknav .SideNavLogo a {
  text-decoration: none;
}
body {
  height: 100%;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  overflow-y: scroll;
}

.SideNavLogo {
  margin-bottom:60px;
}
.SideNavLogo h1 > a{
  display: block;
  text-decoration: none;
}
a a:focus {
  color: #3b3b3b;
  text-decoration: none;
  outline: 0;
  cursor: pointer; 
}

a:hover, a:active {
  color: #A5E5D6;
  text-decoration: none; 
}

a.link-border {
  border-bottom: 2px solid #A5E5D6; 
}

::-moz-selection {
  background: #A5E5D6;
  color: #fff; 
}
::selection {
  background: #A5E5D6;
  color: #fff; 
}
.SideNavLogo h1{
  font-size: 3em;  
}
.SideNavLogo a {
  text-decoration: none;
}
.SideNavLogo h1 {
  display: block;
  margin: 0 0 0.5em;
  text-align: center;
  font-family: 'Poiret One', cursive;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 700;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
}
.main-sidebar .navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.NavBar .navbar-default .navbar-fixed-side {
  text-transform: uppercase;
  width: 308px;
  height: 474px;
  font-size: .8em;
  margin-bottom: 20px;
  background-color: #fff;
  margin: 0 0 0.5em;
  text-align: center;
}
.NavBar > ul {
  margin:0;
  padding: 20px 0 0;
}
.NavBar ul {
  list-style: none;
}
.NavBar > ul > li {
  position: relative;
  background-color: #fff;
}
.NavBar > ul > li > a {
  list-style-type: none;
  background-color: #fff;
  padding: 10px 5px;
  font-family: 'Poiret One', cursive;
  font-size: 12px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: .2em;
  margin: 0 0 100px 0;
  text-align: center;
  transition: .2s;
  text-decoration: none;
}

.NavBar a:before {
  background-color: #a5e5d6;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scale3d(0,1,1);
          transform: scale3d(0,1,1);
  -webkit-transition: -webkit-transform 0.1s;
          transition: transform 0.1s;
}

.NavBar a:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; 
}

.menu-item-has-children:not(.not-visible) > a:before {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; 
}

.menu-item-has-children > a > i {
  margin-left: 8px;
  font-size: 13px;
  vertical-align: middle;
  color: #A5E5D6; 
}



a {
  color: #000000;
  font-weight: 900;
  text-decoration: none;
}
a a:focus {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
a > i {
  margin-left: 8px;
  font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
  color: #a5e5d6;
}
li {
  margin-top: 20px;
  font-family: 'Poiret One', cursive;
}

.NavBar .sub-menu {
  display: none;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  z-index: 100;
}

.NavBar .sub-menu a {
  color: #3b3b3b;
  padding: 10px 15px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .1em;
  text-decoration: none;
}
.menu-item-has-children > a > i {
  color: #a5e5d6;
  margin-left: 8px;
  font-size: 13px;
  vertical-align: middle;
}
.navbarSocial a {
  font-size: 16px;
  display: inline-block;
  margin: 0.5px;
}

.navbarSocial {
  text-align: center;
  margin-bottom: 20px;
  width: 222px;
  height: 54px;
  padding-left: 42px;
}
.navbarSocial ul {
  overflow: auto;
}

.navbarSocial ul li  {
  list-style-type: none;
  float: left;
}

.navbarSocial ul li a i {
  display: inline-block;
  color: #000000;
  width: 40px;
  height: 12px;
  font-size: 25px;
  text-align: center;
  margin: 0 5px;

}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.navbarFooter {
  line-height: 24px;
  text-align: center;
  font-family:'Poiret One', cursive;

}


