@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Parisienne);

body{
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
}
section{
	display: block;
}

.fx-main-row .section-light .is-parallax{
	background-image: url(/images/marketing-office.jpeg);
	background-position: 50% 50%;
	background-size: cover;
	margin-bottom: 100px;
	padding: 120px 0px 20px 0px;
	position: relative;
}

h1.special-title.title-stripe {

	-webkit-margin-before: 0px; 
     -webkit-margin-after: 0px; 
     margin-top: 0px; 
     padding-left: 0px; 
     padding-right: 0px;
     position: relative;
     font-size: 42px;
}


h4 {
	font-family:'Poiret One', cursive;
}

img {
	width: 1437px;
	height: 280px;
	right: 0;
}

img {
	max-width: 100%;
	outline: 1px solid transparent;
	border: 0;
}

.section-light {
	color: #f7f7f7;
}
.fw-main-row {
	clear: both;
}

.section-light .overlay-light {
	background-color: #333;
	opacity: 0.35;
	transition: .2s;
	position: relative;
	top:-298px;
	left:0;
	right:0;
	bottom:0;
	width: 1650px;
	height: 299px;
}

.specialheading  {
	top: 0;
	width: 1050px;
	height: 215px;
	margin-bottom: 0px;
	bottom: 263px;
	position: relative;
	left: 130px;
	

}

.specialheading {
	margin-bottom: 100px;
}
.text-center {
	text-align: center;
}

.special-title {
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 40px;
	font-weight: 800;
}

.title-stripe {
	position: relative;
	z-index: 1;
}

.title-stripe:after {
	content:'';
	position: absolute;
	left: 50%;
	bottom: -15px;
	margin-left: -40px;
	width: 80px;
	height: 1px;
	z-index: -1;
	background-color: #a5e5d6;
}

.special-subtitle {
	font-family: 'Parisienne', cursive;
	font-size: 25px;
	line-height: 35px;
	letter-spacing: 1px;
	width: 1000px;
	position: relative;
	top: 46px;
	margin-left: 28px;
	height: 65px;
	left: 6px;
}

.fw-col-xs-12.fw-col-sm-12.fw-col-md-4 {
	padding-right: 81px;
}

.fw-col-xs-12 {
	padding-left: 30px;
	padding-right: 46px;
	position: relative;
	min-height: 1px;
	box-sizing: border-box;
	top: -496px;
}

@media (min-width: 992px){
	.fw-col-md-4{
		width: 33.333333%;
		float: left;
	}
}

.boxicon.box-icon-vertical.is-matchheight{
	height: 224px;
}

.boxicon .box-icon-vertical {
	text-align: center;
}

.boxicon {
	margin-bottom: 70px;
}

.boxicon .box-icon-vertical .box-header-wrapper {
	margin-bottom: 25px;
}

.boxicon i {
	color: #a5e5d6;
	font-size: 40px;

}

i {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: none;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.boxicon .box-icon-vertical .box-icon-title {
	margin-bottom: 10px;
}
.boxicon .box-icon-title {
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 18px;
	color: #333;
	margin-top: 5px;
}

.boxicon .box-icon-vertical .is-matchheight {
	height: 224px;
}
.boxicon .box-icon-vertical {
	text-align: center;
}

.boxicon .box-icon-vertical .box-header-wrapper {
	margin-bottom: 25px;
}
.fw-container {
	position: relative;
	margin-right: 71px;
	margin-left: 71px;
	height: 294px;
	max-width: 100%;
	left: 33px;
}

.fw-container:after .fw-container-fluid:after .fw-row:after {
	clear: both;
	content: "";
	display: table;
	box-sizing: border-box;
}
.box-icon-subtitle {
	font-family: 'Poiret One', cursive;
}

@media (min-width: 992px){
	.fw-col-md-6 {
		width: 50%;
		left: 0px;
		top: 0px;
	}
}

#section-2 {
	background-color: #f5f5f5;
	padding: 40px 0px 0px 0px;
	position: relative;
	height: 661px;
	top: -500px;
}

.spacer {
	height: 40px;
}

.specialtextblock {
	margin-bottom: 40px;
	position: relative;
	left:600px;
	top:-616px;
	text-align: left;
	font-family:'Poiret One', cursive;
}

.specialtextblock .special-text-block-title .special-text-block-stripe {
	margin-bottom: 50px;
}
.specialtextblock .special-text-block-title {
	text-transform: uppercase;
	position: relative;
	width: 80%;
	font-weight: 300;
	font-size: 28px;
}

h5 {
	margin: 0 0 0.5em;
	color: #111;
	line-height: 1.4;
}

@media (min-width: 992px){
	.fw-col-md-3 {
		width: 25%;
		float: left;
		position: relative;
		box-sizing: border-box;
	}
}

.counter {
	text-align: center;
	position: relative;
	margin: 20px 0;
	z-index: 1;
	font-family:'Poiret One', cursive; 
	left: 537px;
	top: -71px;
}

.counter .counter-number {
	position: relative;
	display: block;
	font-size: 74px;
	font-weight: 700;
	line-height: 58px;
	margin-bottom: 43px;
}

.counter .counter-text {
	display: inline-block;
	letter-spacing: 1px;
	font-size: 17px;
	line-height: 36px;
	font-weight: 600;
	text-transform: uppercase;
}

.counter i {
	font-size: 132px;
	color: #a5e5d6;
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.5;
	z-index: -1;
}

.fw-container-full {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
}

.fw-container-full >[class^="fw-col-"]:first-child .fw-container-full > [class*="fw-col-1"]:first-child {
	padding-left: 0;
}

.fw-accordion {
	clear: both;
}

h3#ui-id-1 {
	font-family:'Poiret One', cursive;
	width: 604px;
	height:64px;
	position: relative;
	font-size: 16px;
	letter-spacing: 3px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 20px 20px 20px 40px;
	margin: 0 0 10px 0;
	cursor: pointer;
	border: 1px solid #a5e5d6;
}


/*.fw-accordion .fw-accordion-title {
	color: #565656;
	border-color: #a5e5d6;
}
.fw-accordion .fw-accordion-title:before {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 14px;
	color: #a5e5d6;
	content: "\f0fe";

}*/

#section-3 {
	padding: 0px 0px 0px 60px;
	position: relative;
	top: -756px;
	text-align: left;

}

.fw-container-full {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right:0;
}

.fw-container-full:before {
	content: "";
	display: table;
}

#spa {
	height: 130px;
}

/*i.fw-accordion .fw-accordion-title .ui-icon {
	font-size: 10px;
	position: absolute;
	top:18px;
	left: 15px;
	width: 8px;
	height: 8px;
	color: #a5e5d6;

}*/

i.fa.fa-plus-square:before {
    position: relative;
    right: 26px;
    bottom: -2px;
    color: #a5e5d6;
 }

/*.fw-accordion .fw-accordion-title .ui-icon .widget > ul li:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}*/

#ui-id-2 {
	padding: 20px;
	width: 600px;
	font-family:'Poiret One', cursive;
	border:none;

}

#ui-id-4 {
	padding: 20px;
	width: 600px;
	font-family:'Poiret One', cursive;
	border: none;
}

#ui-id-6 {
	padding: 20px;
	width: 600px;
	font-family:'Poiret One', cursive;
	border: none;

}


.ui-widget-content {
	border: none;
}

.fw-accordion .fw-accordion-content p:last-child {
	margin-bottom: 0;
}

.fw-accordion.ui-accordion.ui-widget.ui-helper-reset {
	position: relative;
	top: -200px;
	font-family:'Poiret One', cursive;
}

h3#ui-id-3 {
	font-family:'Poiret One', cursive;
	width: 604px;
	height:64px;
	position: relative;
	font-size: 16px;
	letter-spacing: 3px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 20px 20px 20px 40px;
	margin: 0 0 10px 0;
	cursor: pointer;
	background: #fff;
	border: 1px solid #a5e5d6;
}

h3#ui-id-5 {
	font-family:'Poiret One', cursive;
	width: 604px;
	height:64px;
	position: relative;
	font-size: 16px;
	letter-spacing: 3px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 20px 20px 20px 40px;
	margin: 0 0 10px 0;
	cursor: pointer;
	background: #fff;
	border: 1px solid #a5e5d6;
}
.ui-state-default {
 	border: none;
 	background: none;
 }

 .fw-col-xs-12.fw-col-md-6#team {
 	position: relative;
 	left:603px;
 	top:-621px;
 	height: 529px;
 }

 .fw-container-full {
 	position: relative;
 	margin-right: auto;
 	margin-left: auto;
 	padding-left: 0;
 	padding-right: 0;
 }

 .fw-container-full:before {
 	content:"";
 	display: table;
 }

 .fw-container-full:after {
 	clear: both;
 	content: "";
 	display: table;
 }

 .imagewallwrapper {
 	position: relative;
 }

 .overlay-light {

 }

 .imagewallcontent .overlay-text {
 	width: 55%;
 	left: 50%;
 	text-align: center;
 }

 .overlay-text {
 	position: absolute;
 	z-index: 10;
 	top: 50%;
 	transform: translateY(-50%);
 	padding: 50px 70px;
 	background-color: rgba(255, 255, 255, 0.95);
 }

 .imagewallcontent .image-wall-title {
 	font-size: 18px;
 	text-transform: uppercase;
 	margin-bottom: 20px;
 }

 .title-stripe {
 	position: relative;
 	z-index: 1;
 }

.imagewallwrapper .image-wall-text {
	line-height: 22px;
}

h4 {
	margin: 0 0 0.5em;
	color: #111;
	font-weight: 700;
	line-height: 1,4;
}

section#imagewall {
	top: -1457px;
	position: relative;
}

























