/*https://www.google.com/fonts */
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

.todo-container {
  width: 500px;
  height: auto;
  margin: 5px auto;
  margin-top: 20px;
  font-family: 'Shadows Into Light Two', cursive;
}
.add-todo-container {
  margin-bottom: 10px;
}
.add-todo-container .col-md-10{
  padding: 0;
}
.add-todo-container .col-md-2{
  padding-right: 0;
  text-align: right;
}