<div id="content"class="container-fluid">
  <div class="row">
    <div id="navigation" class="col-lg-2 col-md-3 col-sm-3">
<nav class="navbar navbar-default navbar-fixed-side">
<h1>MAVEN</h1>
<ul>
  <li><a role="menuitem" href="/"> HOME </a></li><br>
  <li><a role="menuitem" href="/pages/maven.html"> MAVEN </a></li><br>
  <li><a role="menuitem" href="/pages/funnySquares.html"> FUNNY SQUARES </a></li><br>
  <li><a role="menuitem" href="/pages/backboneForms.html"> BACKBONE FORM </a></li><br>
  <li><a role="menuitem" href="/pages/todo.html"> TODO APPLICATION </a></li><br>
</nav>
</ul>
  </div>
  	
  	<div class="col-lg-2 col-md-3 col-sm-3">
  	</div>
</main>
  	<div id="main" class="col-lg-10 col-md-9 fill">
  	</div>
 </div>
</div> 