

<div class="wrapper">
<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-3">
    <nav class="navbar navbar-default navbar-fixed-side">
      <h1>MAVEN</h1>
      <ul>
        <li><a role="menuitem" href="/"> HOME </a></li><br>
        <li><a role="menuitem" href="/pages/maven.html"> MAVEN </a></li><br>
        <li><a role="menuitem" href="/pages/funnySquares.html"> FUNNY SQUARES </a></li><br>
        <li><a role="menuitem" href="/pages/photoSearch.html"> PHOTO SEARCH </a></li><br>
        <li><a role="menuitem" href="/pages/backboneForms.html"> BACKBONE FORM </a></li><br>
        <li><a role="menuitem" href="/pages/todo.html"> TODO APPLICATION </a></li><br>
      </ul>
   
    <!-- end of SideNav -->
    <div class="is-nav-offset"></div>
    <div class="navbarSocial">
    <ul>
      <li><a href="https://www.facebook.com/elena.nolan.10" target="blank">
      <i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/enolan1" target="blank">
      <i class="fa fa-twitter"></i></a></li>

    </div>
  </nav>
</div>
  <div class="col-lg-10 col-md-9 content">
  </div>
</div>
</div> 

