
<div class="main-sidebar main-sidebar-fixed is sidebar ps-container ps-active-y ps-in-scolling ps-y">
    <div class="wrapper is-slicknav">
        <div class="SideNavLogo">
          <a href="http://localhost:5000/">
            <h1>MAVEN</h1>
          </a>
        </div>
        <!-- end of NavLogo -->
    <!--   <div class="col-lg-2 col-md-3 col-sm-3"> -->
     <nav class="navbar navbar-default navbar-fixed-side">
        <ul class="menu-main-menu" class="is-navmenu">
          <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-1 is-visible"><a role="menuitem" href="/"> HOME <i class="fa fa-caret-down"></i></a></li><br>
          <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-2 not-visible"><a role="menuitem" href="/pages/maven.html"> ABOUT ME <i class="fa fa-caret-down"></i></a></li><br>
            <ul class="sub-menu">
            <li class= "menu-item menu-item-object-page current-menu-item page_item page-item-1"><a href="/pages/maven.html">
            BIO
            </a>
            </li>
            <li class= "menu-item menu-item-object-page current-menu-item page_item page-item-2"><a href="/Projects/jquery%20todo/public/images/elena%20resume.pdf">
            RESUME
            </a>
            </li>
          </ul>
          </li><br>
          <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-3 not-visible"><a role="menuitem"> SERVICES <i class="fa fa-caret-down"></i></a></li><br>
          <ul class="sub-menu">
            <li class= "menu-item menu-item-object-page current-menu-item page_item page-item-3"><a href="/pages/services.html">
            OUR SERVICES
            </a>
            </li>
            </ul>
            </li><br>
          <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-4 not-visible"><a role="menuitem"> PROJECTS <i class="fa fa-caret-down"></i></a></li><br>
          <ul class="sub-menu">
            <li class= "menu-item menu-item-object-page current-menu-item page_item page-item-4"><a href="/pages/todo.html">
            TODO APPLICATION
            </a>
            </li>
            <li class= "menu-item menu-item-object-page current-menu-item page_item page-item-5"><a href="/pages/funnySquares.html">
            FUNNY SQUARES 
            </a>
            </li>
            <li class= "menu-item menu-item-object-page current-menu-item page_item page-item-6"><a href="/pages/backboneForms.html">
            BACKBONE FORMS
            </a>
            </li>
            <li class= "menu-item menu-item-object-page current-menu-item page_item page-item-7"><a href="/pages/photoSearch.html">
            PHOTO SEARCH 
            </a>
            </li>
          </ul>
          <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-5 not-visible"><a role="menuitem"> CONTACT <i class="fa fa-caret-down"></i></a></li><br>
          <ul class="sub-menu">
            <li class= "menu-item menu-item-object-page current-menu-item page_item page-item-8"><a href="/pages/contact.html">
            CONTACT ME
            </a>
            </li>
        </ul>
      </nav>
            <!-- end of SideNav -->
      <div class="navbarSocial">
          <ul>
            <li><a href="https://www.facebook.com/elena.nolan.10" target="blank">
            <i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/enolan1" target="blank">
            <i class="fa fa-twitter"></i></a></li>
              <li><a href="https://github.com/nolanelena" target="blank">
            <i class="fa fa-github"></i></a></li>
          </ul>
      </div>
      <div class="navbarFooter">
      Maven 2016 </div>
    </div>
    <!-- end of sidewrapper --> 
   
    </div>
     <div class="ps-scrollbar-x-rail"><div class="ps-scrollbar-x"></div></div> 
    <div class="ps-scrollbar-y-rail"><div class="ps-scrollbar-y"></div></div>
</div>
      <!-- end of main-sidebar -->



