<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/styles/services.scss" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/main.css">   
    <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  </head>
  <header></header>
<body class="page page-id-874 page-template page-template-template-page-blocks">
      <div class="top-border"></div>
      <div class="right-border"></div>
      <div class="bottom-border"></div>
      <div class="left-border"></div>
<div class="main-content">
  <div class="fw-page-builder-content">
    <section class="fw-main-row section-light is-parallax">
      <img src="/images/marketing-office.jpeg">
      <div class="overlay-light"></div>
      <div class="fw-container-1">
        <div class="fw-col-xs-12">
          <div class="specialheading fw-heading fw-heading-h1 text-center">
            <h1 class="special-title title-stripe">Services</h1>
            <div class="special-subtitle">Here's a list of what we can do for you</div>
          </div>
        </div>
      </div>
    </section>
    <section class="fw-main-row">
      <div class="fw-container-2">
        <div class="fw-col-xs-12 fw-col-sm-12 fw-col-md-4">
          <div class="boxicon box-icon-vertical is-matchheight">
            <div class="box-header-wrapper box-header-icon">
             <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
            <div class="box-icon-content">
              <h4 class="box-icon-title"> Marketing</h4>
              <div class="box-icon-subtitle">Isn't it fantastic that you can change your mind and create all these happy things? It's a good way of getting rid of all your anxieties and hostilities. Let's put a touch more of the magic here.</div>
            </div>
          </div>
        </div>
        <div class="fw-col-xs-12 fw-col-sm-12 fw-col-md-4">
          <div class="boxicon box-icon-vertical is matchheight">
            <div class="box-header-wrapper box-header-icon">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>
            <div class="box-icon-content">
              <h4 class="box-icon-title"> Graphic Design</h4>
              <div class="box-icon-subtitle">I'm a water fanatic. I love water. That's what painting is all about. It should make you feel good when you paint. You can do anything here - the only pre-requisite is that it makes you happy.  
              </div>
            </div>
          </div>
        </div>
        <div class="fw-col-xs-12 fw-col-sm-12 fw-col-md-4">
          <div class="boxicon box-icon-vertical is-matchheight">
            <div class="box-header-wrapper box-header-icon">
              <i class="fa fa-laptop" aria-hidden="true"></i>
            </div>
            <div class="box-icon-content">
              <h4 class="box-icon-title"> Web Development</h4>
              <div class="box-icon-subtitle">And that's when it becomes fun - you don't have to spend your time thinking about what's happening - you just let it happen. And I will hypnotize that just a little bit. That is when you can experience true joy.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fw-main-row" id="section-2">
      <div class="fw-container-3">
        <div class="fw-col-xs-12 fw-col-md-6">
          <img src="/images/creative-process.jpeg" style="width: 513px; height:660px; right:88px; position:relative; left: -150px; top:-40px;"></img>
        </div>
          <div class="fw-col-xs-12 fw-col-md-6">
            <div class="spacer"></div>
            <div class="specialtextblock">
              <h5 class="special-text-block-title special-text-block-stripe">What can we do for you?</h5>
              <div class="special-text-block-content">
                <p>We're not trying to teach you a thing to copy. We're just here to teach you a technique, then let you loose into the world. I think there's an artist hidden in the bottom of every single one of us. These things happen automatically.
                </p>
              </div>
          </div>
          <!-- end of special textblock -->
        </div>
        <div class="fw-col-xs-12 fw-col-md-6">
          </div>
        <div class="fw-col-xs-12 fw-col-md-3">
          <div class="counter">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="counter-number is-counter is-inview" data-from="0" data-to="32" data-speed="2000"> 32 </span>
            <div class="counter-text">Finished Projects</div>
          </div>
        </div>
        <div class="fw-col-xs-12 fw-col-md-3">
          <div class="counter">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
            <span class="counter-number is-counter is-inview" data-from="0" data-to="8" data-speed="2000">8</span>
            <div class="counter-text"> Happy Clients</div>
          </div>
        </div>
      </div>
    </section>
    <section class="fw-main-row" id="section-3">
      <div class="fw-container-full">
        <div class"fw-col-xs-12 fw-col-md-6">
          <div class="spacer" id="spa"></div>
          <div class="fw-accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
            <h3 class="fw-accordion-title ui-accordion-header ui-state-default ui-state-active ui-corner-top ui-accordion-icon ui-corner-all" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="true" aria-expanded="true" tabindex="0">
              <i class="fa fa-plus-square" aria-hidden="true"></i>Who Are We?
            </h3>
            <div class="fw-accordion-content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false" style="display: block;">
              <p>And beans affogato galão froth saucer macchiato. Cup, wings crema, cortado a roast extraction a café au lait that. Redeye dripper arabica ut irish cultivar barista aftertaste coffee.
              </p>
            </div>
            <h3 class="fw-accordion-title ui-accordion-header ui-state-default ui-accordion-icons ui-corner-top" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="0">
              <i class="fa fa-plus-square" aria-hidden="true"></i>What We Do Best?
            </h3>
            <div class="fw-accordion-content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" id="ui-id-4" aria-labelledby="ui-id-3"role="tabpanel" aria-hidden="true" style="display:block;">
              <p>And beans affogato galão froth saucer macchiato. Cup, wings crema, cortado a roast extraction a café au lait that. Redeye dripper arabica ut irish cultivar barista aftertaste coffee.</p>
            </div>
            <h3 class="fw-accordion-title ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-5" aria-control="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              Where Are We Located?
            </h3>
            <div class="fw-accordion-content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display:none;">
              <p>And beans affogato galão froth saucer macchiato. Cup, wings crema, cortado a roast extraction a café au lait that. Redeye dripper arabica ut irish cultivar barista aftertaste coffee.</p>
            </div>
          </div>
        </div>
        <div class="fw-col-xs-12 fw-col-md-6" id="team">
          <img src="/images/team.jpg" style="height: 481px;"></img>
        </div>
      </div>
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"   integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="crossorigin="anonymous"></script>
    </section>
    <!-- end of accordion drop-down -->
    <section class="fw-main-row" id="imagewall">
      <div class="fw-container-full">
        <div class="imagewallwrapper" id="imgwrap">
          <div class="overlay-light"></div>
          <div class="imagewallcontent overlay-text">
            <h4 class="image-wall-title title-stripe"> Why Choose Us?</h4>
            <div class="image-wall-text- text-monospace">
              <p>So often we avoid running water, and running water is a lot of fun. We're not trying to teach you a thing to copy. We're just here to teach you a technique, then let you loose into the world. Just let this happen. We just let this flow right out of our minds.</p>
            </div>
          </div>
          <ul class="imagewall is-isotope" data-isotope-gutter="0"data-isotope-cols="4" data-isotope-cols-xs="1" style="width: 1316px; display: block; position: relative; height: 656px;">
            
          </ul>
        </div>
      </div>
    </section>
  </div>

</div>   