@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);@import url(https://fonts.googleapis.com/css?family=Poiret+One);@import url(https://fonts.googleapis.com/css?family=Parisienne);/*https://www.google.com/fonts */
header {
  text-decoration: none;
}

body {
  overflow-y: scroll;
}

.note-page {
  position: absolute;
  height: 700px;
  width: 700px;
  background-color: #ffed88;
  left: 30%;
  top: 20%;
  box-shadow: 0 1px 4px 2px;
  rgb: 0 0 0 2;
  opacity: 1;
  overflow: hidden;
}

.todo-container h1 {
  margin-bottom: 20px;
}

#notepad-bar {
  width: 700px;
  height: 50px;
  background-color: #360d07;
}

.v_line-left {
  display: inline-block;
  float: left;
}

.h_line {
  display: inline;
  float: right;
  z-index: 100;
  height: 1px;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ccc;
  margin: 2em 0;
  margin-left: 0;
  padding: 0;
}

.todo-container {
  width: 550px;
  height: auto;
  margin: 1px auto;
  margin-top: 20px;
  background-color: #ffed88;
  font-family: 'Shadows Into Light Two', cursive;
}

.col-md-10 {
  background-color: #ffed88;
}

.col-md-10 .form-control {
  font-family: 'Shadows Into Light Two', cursive;
}

.add-todo-container {
  margin-bottom: 10px;
  background-color: #ffed88;
  border-left: 1px solid #ff0000;
}

.add-todo-container .col-md-10 {
  padding: 0;
  background-color: #ffed88;
}

.add-todo-container .col-md-2 {
  background-color: #ffed88;
  padding-right: 0;
  text-align: right;
}

.list-group ul {
  font-family: 'Shadows Into Light Two', cursive;
}

body {
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

.main-content {
  width: 80%;
  margin-left: 20%;
  padding: 20px 20px 20px 0;
  overflow-x: hidden;
}

.special-text-block-title h1 {
  font-family: 'Poiret One', cursive;
  text-align: right;
  display: block;
  margin: 0 0 0.5em;
  line-height: 1.4;
}

.fw-main-row {
  margin-bottom: 100px;
  padding: 40px 0px 0px 0px;
  clear: both;
  box-sizing: border-box;
}

.fw-container {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.fw-container:before {
  content: "";
  display: table;
}

@media (min-width: 1200px) {
  .fw-container {
    width: 1170px;
  }
}

.fw-col-xs-12 {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  min-height: 1px;
}

.image-and-text img {
  width: 419px;
  height: 514px;
  border: 0;
  outline: 1px solid transparent;
}

.image-and-text {
  height: 465.15px;
  position: relative;
}

.image-and-text-image {
  width: 50%;
  float: right;
}

.image-and-text .image-right .image-and-text-image {
  float: right;
}

.image-and-text .image-amd-text-image {
  width: 50%;
}

.image-and-text-text.image-and-text-dark.is-floating {
  transform: translateY(-46.919px);
  background-color: #333;
  color: #f7f7f7;
}

.image-and-text .image-right .image-and-text-text {
  text-align: right;
  right: 42%;
  top: 10%;
}

.image-and-text .image-and-text-text {
  position: absolute;
  width: 50%;
  padding: 40px 50px;
  z-index: 10;
  text-align: right;
  right: 42%;
  top: 10%;
}

.image-and-text .image-and-text-text .specialtextblock {
  margin-bottom: 0;
}

.image-and-text .image-right .specialtextblock .special-text-block-title {
  width: 100%;
}

.image-and-text .image-and-text-text .image-and-text-dark .special-text-block-title {
  color: #f7f7f7;
}

.specialtextblock .special-text-block-title .special-text-block-stripe {
  margin-bottom: 50px;
  font-family: 'Poiret One', cursive;
}

.specialtextblock .special-text-block-title {
  text-transform: uppercase;
  position: relative;
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 50px;
  text-align: right;
  padding-right: 0px;
}

.imageAndText.image-right .specialtextblock .special-text-block-stripe:after {
  left: 100%;
  transform: translateX(-50px);
}

.specialtextblock .special-text-block-stripe:after {
  background-color: #a5e5d6;
}

.specialtextblock .special-text-block-stripe:after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 1px;
  width: 50px;
  background-color: #a5e5d6;
  left: 86%;
}

.specialtextblock .special-text-block-subtitle {
  position: relative;
  display: block;
  margin-bottom: 23px;
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.02em;
}

.special-text-block-content {
  font-family: 'Poiret One', cursive;
}

.text-monospace {
  font-family: 'Poiret One', cursive;
}

p:last-of-type {
  margin-bottom: 0;
}

.fw-main-row .section-light img {
  background-position: 50% 97.92%;
  background-image: url(/images/mod-office.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
  width: 1600px;
  height: 532px;
  padding: 100px 0px 80px 0px;
  position: relative;
}

img {
  width: 1644px;
  height: 532px;
}

.section-light {
  color: #f7f7f7;
}

.fw-main-row {
  clear: both;
  margin-bottom: 80px;
  padding: 0px 0px 0px 0px;
}

/*.image-text-office img {
    vertical-align: middle;
    width: 1619px;
    height: 532px;
    opacity: 0.6;
}*/
.overlay-color {
  -webkit-transition: .2s;
  transition: .2s;
  background-color: #1d2729;
  opacity: 0.6;
  position: absolute;
  top: 545px;
  left: 38px;
  right: 0;
  bottom: 0;
  width: 1612px;
  height: 532px;
}

.fw-container {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 1200px) {
  .fw-container {
    width: 1170px;
  }
}

.fw-container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.fw-container:before {
  content: " ";
  display: table;
}

.fw-col-xs-12 .fw-col-md-6 {
  margin-left: 139px;
}

.fw-col-md-6 {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 992px) {
  .fw-col-md-6 {
    width: 50%;
    left: 147px;
    top: -381px;
  }
}

.fx-col-xs-12.fw-col-md-6 {
  position: relative;
  left: 683px;
  top: -605px;
}

.specialheading {
  margin-bottom: 100px;
}

.text-left {
  text-align: left;
}

.title-stripe {
  position: relative;
  z-index: 1;
}

.special-title {
  text-transform: uppercase;
  font-family: 'Poiret One', cursive;
  display: inline-block;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 800;
  text-align: left;
}

.title-stripe:after {
  left: 0;
  margin-left: 0;
  background-color: #a5e5d6;
}

.title-stripe:after {
  content: '';
  position: absolute;
  left: 29%;
  bottom: -15px;
  margin-left: -40px;
  width: 80px;
  height: 1px;
  z-index: -1;
}

.specialheading .fw-heading .fw-heading-h2 .text-left {
  margin-left: 173px;
}

.special-subtitle {
  margin-left: 7px;
  font-family: 'Parisienne', cursive;
  font-size: 24px;
  width: 398px;
  height: 65px;
}

.special-light {
  color: #f7f7f7;
  font-family: 'Poiret One', cursive;
  font-style: normal;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 1px;
}

.text-left {
  text-align: left;
}

.progressbar {
  margin-top: 60px;
  margin-bottom: 40px;
}

.progress-bar-wrap {
  height: 3px;
  margin-bottom: 50px;
  background-color: #fafafa;
}

.progress-bar {
  width: 90%;
  background-color: #a5e5d6;
}

.section-light .progress-bar {
  color: #f7f7f7;
}

.text-monospace {
  font-style: normal;
}

.progress-bar {
  min-width: 80px;
  text-align: left;
  transition: width 0.8s;
  position: relative;
  float: left;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.progress-bar .text-monospace .is-progressbar .is-inview {
  width: 90%;
  background-color: #a5e5d6;
}

.progress-bar span {
  position: absolute;
  min-width: 150px;
  left: 0;
  bottom: 150%;
  font-size: 14px;
  font-weight: 900;
  line-height: 25px;
  text-transform: uppercase;
}

.progress-bar:after {
  content: attr(data-percentage) "%";
  position: absolute;
  right: -12px;
  bottom: 150%;
  font-size: 12px;
  font-weight: 700;
}

.progress-bar-wrap {
  height: 3px;
  margin-bottom: 50px;
  background-color: #fafafa;
}

.boxicon {
  margin-bottom: 70px;
}

.boxicon .box-icon-horizontal .box-header-icon {
  max-width: 20%;
}

.boxicon .box-icon-horizontal .box-header-wrapper {
  float: left;
  padding-right: 30px;
}

.boxicon .box-icon-horizontal .box-header-wrapper + .box-icon-content {
  width: calc(100%-81px);
}

.funnyheader h1 {
  position: relative;
  text-align: center;
  margin-right: 500px;
  font-family: 'Josefin Sans', sans-serif;
  color: #595959;
  padding-top: 50px;
}

.square {
  position: fixed;
  height: 100px;
  width: 100px;
  background-color: #74ccc7;
  text-align: center;
  line-height: 100px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 54px;
  transform: none;
  transition: transform .5s;
  float: right;
}

.square-container {
  position: fixed;
  perspective: 50px;
  display: inline-block;
  color: #595959;
  margin-left: 1000px;
}

.square1:hover {
  transform: skewX(45deg);
  transition: transform .5s;
}

.square2:hover {
  transform: rotate(45deg);
  transition: transform .5s;
}

.square3:hover {
  transform: scale(0.8, 0.5);
  transition: transform .5s;
}

.square4:hover {
  transform: rotateY(745deg) rotateX(45deg);
  transition: transform .5s;
}

.square5:hover {
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
  transition: transform .5s;
}

.square6:hover {
  transform: translate3d(20px, 50px, 100px);
}

.page-container {
  position: relative;
  padding-left: 100px;
  width: 700px;
  margin: 0 auto;
  min-height: 100px;
}

@media (max-width: 1100px) {
  .navbar-fixed-side {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media only screen and (max-width: 992px) {
  .main-sidebar-fixed {
    width: 28%;
  }
  .main-content {
    width: 72%;
    margin-left: 28%;
  }
}

@media (min-width: 1200px) {
  .col-lg-2 {
    width: 100%;
    background-color: #fff;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side {
    background-color: #fff;
    display: inline-block;
    position: relative;
    margin: 0;
    height: 100vh;
    width: inherit;
    overflow: auto;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .navbar a .slicknav_menu {
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
}

.main-content {
  width: 100%;
  margin: 0;
  padding: 20px;
  padding-top: 0;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .PageBlocks li {
    height: 250px;
  }
}

.main-sidebar {
  background-color: #fff;
  overflow-x: hidden;
}

.js .main-sidebar {
  display: none;
}

.main-sidebar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  z-index: 1000;
}

.ps-container {
  -ms-touch-action: none;
  overflow: hidden !important;
}

.ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
}

.ps-container.ps-in-scrolling {
  pointer-events: none;
}

.ps-container.ps-in-scrolling .ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
}

.ps-container .ps-in-scrolling .ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
}

.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear opacity 0.2s linear;
  -o-transition: background-color 0.2s linear opacity 0.2s linear;
  transition: background-color 0.2s  linear opacity 0.2s linear;
  bottom: 3px;
  height: 8px;
}

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  bottom: 0;
  height: 8px;
}

.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear,opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear,opacity 0.2s linear;
  -o-transition: background-color 0.2s linear,opacity 0.2s linear;
  transition: background-color 0.2s linear,opacity 0.2s linear;
  right: 3px;
  width: 8px;
}

/*.ps-scollbar-x-rail {
  left: 0;
  bottom: -43px;
}
.ps-scollbar-x {
  left: 0px;
  width: 0px; 
}
.ps-scrollbar-y-rail {
  top: 221px;
  right: 3px;
  height: 852px;
}

.ps-schollbar-y {
  top: 174px;
  height: 670px;
}*/
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  right: 0;
  width: 8px;
}

.ps-container:hover .ps-in-scrolling {
  pointer-events: none;
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container:hover .ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
}

.ps-container:hover > .ps-scrollbar-x-rail .ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: 0.9;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #999;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #eee;
  opacity: 0.9;
}

.wrapper {
  padding: 0px 20px 50px 30px;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 100%;
  text-align: center;
  box-sizing: border-box;
  height: 752px;
  padding-right: 30px;
  text-decoration: none;
}

.wrapper .is-slicknav .SideNavLogo a {
  text-decoration: none;
}

body {
  height: 100%;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  overflow-y: scroll;
}

.SideNavLogo {
  margin-bottom: 60px;
}

.SideNavLogo h1 > a {
  display: block;
  text-decoration: none;
}

a a:focus {
  color: #3b3b3b;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

a:hover, a:active {
  color: #A5E5D6;
  text-decoration: none;
}

a.link-border {
  border-bottom: 2px solid #A5E5D6;
}

::-moz-selection {
  background: #A5E5D6;
  color: #fff;
}

::selection {
  background: #A5E5D6;
  color: #fff;
}

.SideNavLogo h1 {
  font-size: 3em;
}

.SideNavLogo a {
  text-decoration: none;
}

.SideNavLogo h1 {
  display: block;
  margin: 0 0 0.5em;
  text-align: center;
  font-family: 'Poiret One', cursive;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 700;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
}

.main-sidebar .navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.navbar .navbar-default .navbar-fixed-side {
  text-transform: uppercase;
  width: 308px;
  height: 474px;
  font-size: .8em;
  margin-bottom: 20px;
  background-color: #fff;
  margin: 0 0 0.5em;
  text-align: center;
}

.navbar > ul {
  margin: 0;
  padding: 20px 0 0;
}

.navbar ul {
  list-style: none;
}

.navbar > ul > li {
  position: relative;
  background-color: #fff;
}

.navbar > ul > li > a {
  list-style-type: none;
  background-color: #fff;
  padding: 10px 5px;
  font-family: 'Poiret One', cursive;
  font-size: 12px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: .2em;
  margin: 0 0 100px 0;
  text-align: center;
  transition: .2s;
  text-decoration: none;
}

.navbar a:before {
  background-color: #a5e5d6;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
}

.SideNav a:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.menu-item-has-children:not(.not-visible) > a:before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.menu-item-has-children > a > i {
  margin-left: 8px;
  font-size: 13px;
  vertical-align: middle;
  color: #A5E5D6;
}

a {
  color: #000000;
  font-weight: 900;
  text-decoration: none;
}

a a:focus {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

a > i {
  margin-left: 8px;
  font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
  color: #a5e5d6;
}

li {
  margin-top: 20px;
  font-family: 'Poiret One', cursive;
}

.navbar .sub-menu {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  z-index: 100;
}

.navbar .sub-menu a {
  color: #3b3b3b;
  padding: 10px 15px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .1em;
  text-decoration: none;
}

.menu-item-has-children > a > i {
  color: #a5e5d6;
  margin-left: 8px;
  font-size: 13px;
  vertical-align: middle;
}

.navbarSocial a {
  font-size: 16px;
  display: inline-block;
  margin: 0.5px;
}

.navbarSocial {
  text-align: center;
  margin-bottom: 20px;
  width: 168px;
  padding-left: 26px;
}

.navbarSocial ul {
  overflow: auto;
}

.navbarSocial ul li {
  list-style-type: none;
  float: left;
}

.navbarSocial ul li a i {
  display: inline-block;
  color: #000000;
  width: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  margin: 0 5px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.navbarFooter {
  line-height: 24px;
  text-align: center;
}

.search-container .photo {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
}

.search-container .photo img {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .main-sidebar-fixed {
    width: 28%;
  }
  .main-content {
    width: 72%;
    margin-left: 28%;
  }
}

body {
  height: 100%;
  overflow: scroll;
  padding-right: 44px;
  line-height: 24px;
}

/* Top-Borders */
.top-border, .right-border, .bottom-border, .left-border {
  position: fixed;
  background-color: #fafafa;
  padding: 10px;
}

.top-border, .right-border, .bottom-border, .left-border {
  z-index: 1044;
}

.right-border {
  z-index: 1042;
}

.top-border {
  top: 0;
  left: 0;
  right: 0;
}

.right-border {
  top: 0;
  right: 0;
  bottom: 0;
}

.bottom-border {
  bottom: 0;
  left: 0;
  right: 0;
}

.left-border {
  left: 0;
  top: 0;
  bottom: 0;
}

.main-content {
  width: 1422px;
  margin-left: 20%;
  padding: 20px 20px 20px 0;
  overflow-x: hidden;
  height: 826px;
  top: 147px;
}

/* isotope */
.js .is-isotope {
  display: none;
}

.is-isotope {
  padding: 0;
  margin: 0;
  max-width: none;
  overflow: hidden;
}

.is-isotope > * {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-isotope .bg-image {
  width: 101%;
  width: calc(100% + 2px);
}

.is-isotope img {
  display: block;
  width: 100.4%;
  width: calc(100% + 1px);
  max-width: none;
}

/* PageBlocks */
ul.PageBlocks.is-isotope.list-unstyled {
  width: 1500px;
  display: block;
  position: relative;
  height: 802px;
  top: 5px;
}

.PageBlocks li.isotope-item-fullheight {
  width: 490px;
  position: absolute;
  left: 6px;
  top: 0px;
}

.page-blocks-subitem .is-changeable-item {
  opacity: 1;
}

.PageBlocks li {
  height: calc(50vh - 20px);
}

.PageBlocks li:before {
  -webkit-transition: .65s;
  transition: .65s;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #fff;
  z-index: 10;
}

.PageBlocks li {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100.4%;
  width: calc(100% + 1px);
}

.PageBlocks li.isotope-item-fullheight {
  height: calc(100vh - 40px);
}

.PageBlocks li.isotope-item-fullheight {
  height: 803px;
}

.PageBlocks li.isotope-item-fullheight .bg-image img {
  height: 803px;
}

.PageBlocks li.isotope-item-width-1 {
  width: 906px;
  position: absolute;
  height: 397.5px;
  left: 495px;
  top: 0px;
}

.PageBlocks li.isotope-item-width-2 {
  width: 906px;
  position: absolute;
  left: 495px;
  top: 398px;
  height: 403.5px;
}

.PageBlocks li:hover .bg-image, .PageBlocks li:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.PageBlocks .bg-image, .PageBlocks img {
  -webkit-transition: .25s;
  transition: .25s;
  height: 455px;
}

.PageBlocks li:hover .overlay-dark {
  opacity: 0;
}

.PageBlocks .page-block-item-title {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  top: 60%;
  right: 20px;
  width: 100%;
  width: calc(100% - 40px);
  color: #fff;
  font-size: 14px;
  letter-spacing: 5px;
  font-weight: 900;
  text-align: right;
  pointer-events: none;
}

.is-changeable .isotope-item-width-2 h5 {
  top: 238px;
}

/* Overlay-Dark */
.PageBlocks .overlay-dark {
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 1;
}

.overlay-dark {
  -webkit-transition: .2s;
  transition: .2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-dark {
  background-color: rgba(11, 10, 24, 0.46);
}

.SideNavLogo {
  color: #3b3b3b;
  font-family: 'Poiret One', cursive;
  margin-bottom: 60px;
  text-decoration: none;
}

.SideNavLogo a:focus {
  display: block;
  text-decoration: none;
}

a, a:focus {
  color: #3b3b3b;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.SideNavLogo h1 {
  font-size: 3em;
  color: #3b3b3b;
  text-decoration: inherit !important;
}

h1 {
  display: block;
  margin: 0 0 0.5em;
  text-align: center;
  font-family: 'Poiret One', cursive;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 700;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar .navbar-default {
  text-transform: uppercase;
  font-size: .8em;
  margin-bottom: 20px;
  background-color: #fff;
  margin: 0 0 0.5em;
}

.navbar > ul {
  margin: 0;
  padding: 20px 0 0;
}

.navbar ul {
  list-style: none;
}

.navbar > ul > li {
  position: relative;
  background-color: #fff;
}

.navbar > ul > li > a {
  list-style-type: none;
  background-color: #fff;
  padding: 10px 5px;
  font-family: 'Poiret One', cursive;
  font-size: 12px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: .2em;
  margin: 0 0 100px 0;
  text-align: center;
  transition: .2s;
  text-decoration: none;
  color: #000000;
}

h1 a {
  color: #000000;
  font-weight: 900;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

a > i {
  margin-left: 8px;
  font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
  color: #a5e5d6;
}

li {
  margin-top: 20px;
  font-family: 'Poiret One', cursive;
}

.navbarSocial a {
  font-size: 16px;
  display: inline-block;
  margin: 0.5px;
}

.navbarSocial {
  text-align: center;
  margin-bottom: 20px;
  width: 168px;
  padding-left: 26px;
}

.navbarSocial ul {
  overflow: auto;
}

.navbarSocial ul li {
  list-style-type: none;
  float: left;
}

.navbarSocial ul li a i {
  display: inline-block;
  color: #000000;
  width: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  margin: 0 5px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.navbarFooter {
  line-height: 24px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map*/