@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);@import url(https://fonts.googleapis.com/css?family=Poiret+One);/*https://www.google.com/fonts */
.note-page {
  position: absolute;
  height: 700px;
  width: 700px;
  background-color: #ffed88;
  left: 30%;
  top: 20%;
  box-shadow: 0 1px 4px 2px;
  rgb: 0 0 0 2;
  opacity: 1;
  overflow: hidden;
}

.todo-container h1 {
  margin-bottom: 20px;
}

#notepad-bar {
  width: 700px;
  height: 50px;
  background-color: #360d07;
}

.v_line-left {
  display: inline-block;
  float: left;
}

.h_line {
  display: inline;
  float: right;
  z-index: 100;
  height: 1px;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ccc;
  margin: 2em 0;
  margin-left: 0;
  padding: 0;
}

.todo-container {
  width: 550px;
  height: auto;
  margin: 1px auto;
  margin-top: 20px;
  background-color: #ffed88;
  font-family: 'Shadows Into Light Two', cursive;
}

.col-md-10 {
  background-color: #ffed88;
}

.add-todo-container {
  margin-bottom: 10px;
  background-color: #ffed88;
  border-left: 1px solid #ff0000;
}

.add-todo-container .col-md-10 {
  padding: 0;
  background-color: #ffed88;
}

.add-todo-container .col-md-2 {
  background-color: #ffed88;
  padding-right: 0;
  text-align: right;
  border-right: 1px solid #ff0000;
}

/*/*@import url(https://fonts.googleapis.com/css?family=Raleway);


body {
  font-family: 'Raleway', sans-serif;

}
/*

.maven-header h1{
  font-family: 'Raleway', sans-serif;
  color: #70aeac;
  font-size: 22px;
}

.mavennav {
  font-family: 'Raleway', sans-serif;
  display: inline;
  font-size: 18px;  
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a {
  text-decoration: none;
}*/
#custom-bootstrap-menu.navbar-default .navbar-brand {
  position: relative;
  color: #70aeac;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
}

#custom-bootstrap-menu.navbar-default {
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  background-color: black;
  text-align: right;
  width: 1000px;
  height: auto;
  display: inline-block;
  padding: 20px;
  position: fixed;
  margin-left: 250px;
  background: -webkit-linear-gradient(top, #4d4b4b 0%, black 100%);
  border-width: 0px;
  border-radius: 1px;
  overflow: hidden;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > a {
  color: white;
  background-color: rgba(248, 248, 248, 0);
  font-family: 'Raleway', sans-serif;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > a:focus {
  color: #698a88;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
  color: #698a88;
  background-color: rgba(231, 231, 231, 0);
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #000000;
}

@media (max-width: 991px) {
  .maven-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > a {
    float: none;
  }
  .navbar-nav > .menuitem {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .collapsing {
    overflow: hidden !important;
  }
}

.funnyheader h1 {
  position: relative;
  text-align: center;
  margin-right: 500px;
  font-family: 'Josefin Sans', sans-serif;
  color: #595959;
  padding-top: 50px;
}

.square {
  position: fixed;
  height: 100px;
  width: 100px;
  background-color: #74ccc7;
  text-align: center;
  line-height: 100px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 54px;
  transform: none;
  transition: transform .5s;
  float: right;
}

.square-container {
  position: fixed;
  perspective: 50px;
  display: inline-block;
  color: #595959;
  margin-left: 1000px;
}

.square1:hover {
  transform: skewX(45deg);
  transition: transform .5s;
}

.square2:hover {
  transform: rotate(45deg);
  transition: transform .5s;
}

.square3:hover {
  transform: scale(0.8, 0.5);
  transition: transform .5s;
}

.square4:hover {
  transform: rotateY(745deg) rotateX(45deg);
  transition: transform .5s;
}

.square5:hover {
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
  transition: transform .5s;
}

.square6:hover {
  transform: translate3d(20px, 50px, 100px);
}

.page-container {
  position: relative;
  padding-left: 100px;
  width: 700px;
  margin: 0 auto;
  min-height: 100px;
}

@media (max-width: 1100px) {
  .navbar-fixed-side {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media only screen and (max-width: 992px) {
  .main-sidebar-fixed {
    width: 28%;
  }
}

@media (min-width: 1200px) {
  .col-lg-2 {
    width: 100%;
    background-color: #fff;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side {
    background-color: #fff;
    display: inline-block;
    position: relative;
    margin: 0;
    height: 100vh;
    width: inherit;
    overflow: auto;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-sidebar {
  background-color: #fff;
}

.main-sidebar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  z-index: 1000;
}

.ps-container {
  overflow: hidden !important;
}

.wrapper {
  padding-top: 100px 20px 50px 30px;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  text-align: center;
}

body {
  height: 100%;
  overflow: hidden;
  padding-right: 44px;
}

.SideNavLogo {
  margin-bottom: 60px;
}

.SideNavLogo a {
  display: block;
}

a, a:focus {
  color: #3b3b3b;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.SideNavLogo h1 {
  font-size: 3em;
}

h1 {
  display: block;
  margin: 0 0 0.5em;
  text-align: center;
  font-family: 'Poiret One', cursive;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 700;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.navbar .navbar-default .navbar-fixed-side {
  text-transform: uppercase;
  width: 302px;
  height: 450px;
  font-size: .8em;
  margin-bottom: 20px;
  background-color: #fff;
  margin: 0 0 0.5em;
}

.navbar > ul {
  margin: 0;
  padding: 20px 0 0;
}

.navbar ul {
  list-style: none;
}

.navbar > ul > li {
  position: relative;
  background-color: #fff;
}

.navbar > ul > li > a {
  list-style-type: none;
  background-color: #fff;
  padding: 10px 5px;
  font-family: 'Poiret One', cursive;
  font-size: 12px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: .2em;
  margin: 0 0 100px 0;
  text-align: center;
  transition: .2s;
  text-decoration: none;
}

a {
  color: #000000;
  font-weight: 900;
}

a:focus {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

a > i {
  margin-left: 8px;
  font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
  color: #a5e5d6;
}

li {
  margin-top: 20px;
  font-family: 'Poiret One', cursive;
}

.navbarSocial {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 60px;
  margin-left: 60px;
}

.navbarSocial ul {
  overflow: auto;
}

.navbarSocial ul li {
  list-style-type: none;
  float: left;
}

.navbarSocial ul li a i {
  display: inline-block;
  color: #000000;
  width: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  margin: 0 5px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
}

.search-container .photo {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
}

.search-container .photo img {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .main-sidebar-fixed {
    width: 28%;
  }
  .main-content {
    width: 72%;
    margin-left: 28%;
  }
}

.ps-container {
  overflow: hidden !important;
}

.wrapper {
  padding-top: 100px 20px 50px 30px;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  text-align: center;
}

body {
  height: 100%;
  overflow: hidden;
  padding-right: 44px;
}

.top-border, .right-border, .bottom-border, .left-border {
  position: fixed;
  background-color: #fafafa;
  padding: 10px;
}

.top-border, .right-border, .bottom-border, .left-border {
  z-index: 1044;
}

.right-border {
  z-index: 1042;
}

.top-border {
  top: 0;
  left: 0;
  right: 0;
}

.right-border {
  top: 0;
  right: 0;
  bottom: 0;
}

.bottom-border {
  bottom: 0;
  left: 0;
  right: 0;
}

.left-border {
  left: 0;
  top: 0;
  bottom: 0;
}

.main-content {
  width: 1500px;
  margin-left: 20%;
  padding: 20px 20px 20px 0;
  overflow-x: hidden;
}

ul.PageBlocks.is-isotope.list-unstyled {
  width: 1500px;
  display: block;
  position: relative;
  height: 768px;
}

.PageBlocks li.isotope-item-fullheight {
  width: 490px;
  position: absolute;
  height: 780px;
  left: 6px;
  top: 0px;
}

.page-blocks-subitem .is-changeable-item {
  opacity: 1;
}

.js .is-isotope {
  display: none;
}

.is-isotope {
  padding: 0;
  margin: 0;
  max-width: none;
  overflow: hidden;
}

.is-isotope > * {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-isotope .bg-image {
  width: 101%;
  width: calc(100% + 2px);
}

.is-isotope img {
  display: block;
  width: 100.4%;
  width: calc(100% + 1px);
  max-width: none;
}

.PageBlocks li {
  height: calc(50vh - 20px);
}

.PageBlocks li:before {
  -webkit-transition: .65s;
  transition: .65s;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #fff;
  z-index: 10;
}

.PageBlocks li {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100.4%;
  width: calc(100% + 1px);
}

.PageBlocks li.isotope-item-fullheight {
  height: calc(100vh - 40px);
}

@media only screen and (max-width: 1200px) {
  .PageBlocks li.isotope-item-fullheight {
    height: 50vh;
  }
}

.PageBlocks li:hover .bg-image, .PageBlocks li:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.PageBlocks li:hover .overlay-dark {
  opacity: 0;
}

.PageBlocks .page-block-item-title {
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  top: 60%;
  right: 20px;
  width: 100%;
  width: calc(100% - 40px);
  color: #fff;
  font-size: 14px;
  letter-spacing: 5px;
  font-weight: 900;
  text-align: right;
  pointer-events: none;
}

.PageBlocks .overlay-dark {
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 1;
}

.overlay-dark {
  -webkit-transition: .2s;
  transition: .2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-dark {
  background-color: rgba(11, 10, 24, 0.46);
}

.PageBlocks .bg-image, .PageBlocks img {
  -webkit-transition: .25s;
  transition: .25s;
}

.SideNavLogo {
  margin-bottom: 60px;
}

.SideNavLogo a {
  display: block;
}

a, a:focus {
  color: #3b3b3b;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.SideNavLogo h1 {
  font-size: 3em;
}

h1 {
  display: block;
  margin: 0 0 0.5em;
  text-align: center;
  font-family: 'Poiret One', cursive;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 700;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar .navbar-default {
  text-transform: uppercase;
  font-size: .8em;
  margin-bottom: 20px;
  background-color: #fff;
  margin: 0 0 0.5em;
}

.navbar > ul {
  margin: 0;
  padding: 20px 0 0;
}

.navbar ul {
  list-style: none;
}

.navbar > ul > li {
  position: relative;
  background-color: #fff;
}

.navbar > ul > li > a {
  list-style-type: none;
  background-color: #fff;
  padding: 10px 5px;
  font-family: 'Poiret One', cursive;
  font-size: 12px;
  line-height: 20px;
  font-weight: 900;
  letter-spacing: .2em;
  margin: 0 0 100px 0;
  text-align: center;
  transition: .2s;
  text-decoration: none;
}

a {
  color: #000000;
  font-weight: 900;
}

a:focus {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

a > i {
  margin-left: 8px;
  font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
  color: #a5e5d6;
}

li {
  margin-top: 20px;
  font-family: 'Poiret One', cursive;
}

/*# sourceMappingURL=main.css.map*/