<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script type="text/javascript" async="async" defer="defer" src="application.js"></script>
  </head>
  <body>
    <h1>Detail Page</h1>

        <main>
            <div class="col-md-4"></div>
                  <p>Title</p>
                  <p>Is don?</p>
                  <p>Author</p>
                  <p>Create Date</p>
                  <p>Due Date</p>
                  <p>Description</p>
                  <p>Link</p>
            <div class="col-md-8"></div>
                  <p>My Todo</p>
                  <p>No</p>
                  <p>Elena</p>
                  <p><time>April 15th</time></p>
                  <p>Never</p>
                  <p>Do IT!</p>
                  <p>
                  <a href="http://example.com" target="_new"> 
                      http://example.com

                      </a>
                    </p>
        </main>
    </div>
  </body>
</html>