
<!doctype html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
  </head>
<header></header>
<body class="page page-id-874 page-template page-template-template-page-blocks">
      <div class="top-border"></div>
      <div class="right-border"></div>
      <div class="bottom-border"></div>
      <div class="left-border"></div>
<div class="main-content">    
  <div id="post-874" class="post-874 page type-page status-publish hentry">
  <ul class="PageBlocks is-isotope list-unstyled" data-isotope-cols="3">
    <li class="is-changeable isotope-item-fullheight">
        <div class>
          <div class="page-blocks-subitem is-changeable-item">
          <div class="bg-image"> <img src="/images/computerandcoffee.jpeg"></img></div>
          <div class="overlay-dark"></div>
          </div>
          </div>
          <h5 class="page-block-item-title">ABOUT US</h5>
      </li>
      <li class=" is-changable isotope-item-width-1">
        <div class>
        <div class="page-block-subitem is-changable-item">
          <div class="bg-image"> <img src="/images/webanddesign.jpeg"></img></div>
            <div class="overlay-dark"></div>
          </div>
          </div>
          <h5 class="page-block-item-title">GALLERY</h5>
      </li>
       <li class=" is-changable isotope-item-width-2">
        <div class>
        <div class="page-block-subitem is-changable-item">
        <div class="bg-image"> <img src="/images/penandpaper.jpeg"></img></div>
          <div class="overlay-dark"></div>
        </div>
        </div>
        <h5 class="page-block-item-title">SERVICES</h5>
      </li>
      </ul>  
  </ul> 

    </div> 
   </main>
    <footer></footer>
     
  
  </body>
</html>