<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script type="text/javascript" async="async" defer="defer" src="application.js"></script>
  </head>
  <body>
        <h1>list Page</h1>
        <main>
        <div class="row">
            <div class="col-md-2"> Is Done?</div>
            <div class="col-md-10">Title</div>
        <div class="row">
            <div class="col-md-2">No</div>
            <div class="col-md 10">My Todo</div>
        </main>

    </div>
  </body>
</html>