
<!doctype html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
  </head>
  <body>
    <h1>My Coding Journey</h1>
      <div class="nav">
      <a role="menuitem" href="/pages/todo.html"> TODO APPLICATION </a>
      <a role="menuitem" href="/pages/project.html"> MY PROJECT </a>
      <a role="menuitem" href="/pages/funnySquares.html"> FUNNY SQUARES </a>
      </div>
    <div id="modern">
    <img src="images/modern-office.jpg" alt="a modern office"/>
    </div>
  </body>
</html>